@model ProdutoListViewModel


<div><h2>Todos os produtos</h2></div>

<div class="row">
    @foreach (var produto in Model.Produtos)
    {
        <partial name="_ProdutosResumo" for="@produto" />
    }
</div>